/* Base (variables y limpieza) */
@import "base/variables.css";
@import "base/reset.css";

/* Layout */
@import "layout/header.css";
@import "layout/hero.css";
@import "layout/projects.css";
@import "layout/footer.css";

/* Components */
@import "components/buttons.css";
@import "components/card.css"